<!doctype html>
<html class="no-js" lang="en">

<head>

  {% include 'html-head' %}
  <!-- content for header start -->
  {{ content_for_header }}
  <!-- content for header end -->

</head>

{% assign pageID = page.handle %}
{% unless page.handle %}
{% assign pageID = page_title %}
{% endunless %}

<body id="{{ pageID | handle }}" class="{% if customer %}customer-logged-in {% endif %}{{ template | replace: '.', ' ' | truncatewords: 2, '' | handle }}-page">

  <div id="page">
    
    {% include 'page-header' %} 

    <div id="body">
      {{ content_for_layout }}
    </div>

    {% include 'page-footer' %}

  </div><!-- #page -->

</body>
</html>