// import gridle
@import "gridle/gridle";

// setting up the grid

$settings: (
  context : 12,
  gutter-width : 40px
);

@include gridle_setup($settings);

@include gridle_register_state(mobile, (
  max-width : 480px,
  gutter-width : 40px
));
@include gridle_register_state(tablet-portrait, (
  min-width : 481px,
  max-width : 768px,
  gutter-width : 40px
));
@include gridle_register_state(tablet-landscape, (
  min-width : 769px,
  max-width : 1024px,
  gutter-width : 40px
));
@include gridle_register_state(desktop, (
  min-width : 1025px
));