// Reset
@import "compass/reset";

// Compass mixins
@import "ceaser-easing";

// grid framework
@import "grid";

// fonts
@import "_fonts";

// Variables
$divider: #e1e1df;

// mixins

@mixin border-radius ($border-radius) {
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}

body {
  margin: 40px 0 0;
  width: 100%;
  background: #fff;
  font-family: 'source_code_proregular';
  color: #272727;
}

#canvas {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 1160px;
 } 
  header {
    overflow: hidden;
    @include gridle(12);

    #header-top {
      overflow: hidden;
      padding: 0 0 35px;
      border-bottom: 1px solid #e3e3e3;

      a {
        text-decoration: none;

      }

      #logo {
        float: left;
        font: normal 36px 'neuzeit_groteskregular';
        color: #272727;

        a {
          color: inherit;
        }
      }

      #status {
        overflow: hidden;
        float: right;
        #login {
          display: inline-block;
          float: left;
          color: inherit;
        }

        #cart {
          display: inline-block;
          overflow: hidden;
          padding: 9px 18px 8px 20px;
          border: 1px solid #e1e1df;
          box-sizing: border-box;
          @include border-radius (3px);

          .cart-link {
            text-transform: uppercase;
            font: normal 14px 'oswaldbook';
            letter-spacing: 2px;
            color: #272727;

            .icon-cart {
              color: #8f8f8f;
              font-family: "SSStandard";
              font-size: 12px;
            }
            #cart-count {

            }
          }
        }
      }
    }

    #header-bottom {
      overflow: hidden;
      padding: 20px 0;

      #nav {
        float: left;
        // @include gridle(8);
        // @include gridle-no-gutter;
        list-style: none;
        
        li {
          display: inline-block;
          margin: 0 40px 0 0;

          a {
            color: #272727;
            font: normal 14px 'oswaldbook';
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            &:active {
              color: #929292;
            }
          }
        }
      }
      #ship-rates {
        overflow: hidden;
        float: right;

        img {
          display: inline-block;
          float: left;
        }
        p {
          display: inline-block;
          margin: 4px 0 0 10px;
          font-size: 14px;
          
          span {
            font-weight: 700;
          }
        }
      }
    }
  } // header

  #hero {
    @include gridle(12);
    overflow: hidden;
    margin: 0 0 40px;
    
    #carousel {
      background-color: #2d2d2d;

      #carousel-text {
        // padding: 100px 0 0 40px;
        h1 {
          font: normal 60px 'oswaldbook';
          color: #fff;
          text-transform: uppercase;
        }
        p {
          font: 300 24px/32px 'oswaldbook';
          color: #7f7f7f;
        }  
      }
      
    }
  }

  .product-grid {
    @include gridle(12);
    @include gridle_parent();
    overflow: hidden;
  }
  .product {
    @include gridle(3);
    display: block;
    margin: 0 0 46px;
    height: 300px;
    letter-spacing: 1px;

    img {
      margin: 0 0 12px;
    }
    p {
      &.product-tag {
        margin: 0 0 3px;
        font: normal 14px 'oswaldbook';
        text-transform: uppercase;
      }
      &.list-price {
        font: 300 14px/24px 'source_code_proregular';
      }
    }
  }

// footer
@import "core/_footer";