// Reset
@import "compass/reset";

// Compass mixins
@import "ceaser-easing";

// grid framework
@import "grid";

// fonts
@import "_fonts";

// Variables
$divider: #e1e1df;

// mixins

@mixin border-radius ($border-radius) {
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}

body {
  width: 100%;
  background: #fff;
  font-family: "source_code_proregular";
  color: #272727;
}

  // Page Layout

#page {
  display: block;
  overflow: hidden;
  margin: 0 auto;

  @include gridle_state( mobile ) {
    padding: 0 20px;
  }
}
#body {
  margin: 40px 0;
}

.content {
  @include gridle_centered ( );
  max-width: 1160px;
}



header {
  .content {
    overflow: hidden;
  }
  .header {
    @include gridle(12);

    #header-top {
      overflow: hidden;
      padding: 30px 0 30px;
      border-bottom: 1px solid #e3e3e3;

      a {
        text-decoration: none;
      }

      #logo {
        float: left;
        font: normal 36px "neuzeit_groteskregular";
        line-height: 41px;
        color: #272727;

        a {
          color: inherit;
        }
      }

      #status {
        overflow: hidden;
        float: right;
        #login {
          display: inline-block;
          float: left;
          margin: 15px 0 0;
          color: inherit;
          font-size: 14px;
        }

        #cart {
          overflow: hidden;
          display: inline-block;
          float: left;
          padding: 9px 18px 8px 20px;
          border: 1px solid #e1e1df;
          box-sizing: border-box;
          @include border-radius (3px);

          .cart-link {
            text-transform: uppercase;
            font: normal 14px "oswaldbook";
            letter-spacing: 2px;
            color: #272727;

            .icon-cart {
              color: #8f8f8f;
              font-family: "SSStandard";
              font-size: 12px;
            }
            #cart-count {

            }
          }
        }
      }
    }
  }

  #header-bottom {
    overflow: hidden;
    padding: 20px 0;

    #nav {
      overflow: hidden;
      float: left;
      // @include gridle(8);
      // @include gridle-no-gutter;
      list-style: none;
      
      li {
        display: inline-block;
        float: left;
        margin: 0 40px 0 0;

        &:last-child {
          margin: 0;
        }

        a {
          color: #272727;
          font: normal 14px "oswaldbook";
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2px;
          &:active {
            color: #929292;
          }
        }
      }
    }
    #ship-rates {
      overflow: hidden;
      float: right;

      @include gridle_state( mobile ) {
        display: none;
      }

      img {
        display: inline-block;
        float: left;
      }
      p {
        display: inline-block;
        margin: 4px 0 0 10px;
        font-size: 14px;
        
        span {
          font-weight: 700;
        }
      }
    }
  }
} // header


#hero {
  @include gridle(12);
  overflow: hidden;
  margin: 0 0 40px;
  
  .slide {
    padding: 100px 0 0 40px;

    .text {
      // padding: 100px 0 0 40px;
      h3 {
        font: normal 60px "oswaldbook";
        color: #fff;
        text-transform: uppercase;
      }
      p {
        font: 300 24px/32px "oswaldbook";
        color: #7f7f7f;
      }
      .button {
        text-align: center;
        border: 1px solid #4f4f4e;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .dark h3,
  .dark p {
    color: #2d2d2d;
  }
}

  // Page-header section


#page-header {
  h1 {
    font: normal 32px "neuzeit_groteskregular";
    text-align: center;
  }
}

#page-body {
  overflow: hidden;

  .content {

  }
  #page-content {
    @include gridle(12);
  }
}

// PRODUCTS & COLLECTIONS

.product-grid {
  @include gridle(12);
  @include gridle_parent();
  overflow: hidden;

  .product {
    @include gridle(3);
    @include gridle( 6, tablet-landscape );
    @include gridle( 6, tablet-portrait );
    @include gridle( 12, mobile );
    display: block;
    margin: 0 0 46px;
    letter-spacing: 1px;

    img {
      width: 100%;
      height: 100%;
    }

    .product-details {
      a {
        text-decoration: none;
        color: #272727;

        .product-title {
          margin: 12px 0 3px;
          font: normal 14px/24px "oswaldbook";
          text-transform: uppercase;
        }
        .price {
          font: 300 14px/24px "source_code_proregular";
        }
      }
    }
  }
}

.related-products {
  margin: 40px 0 0;

  h3 {
    @include gridle(12);
    display: block;
    margin: 0 0 20px;
    text-align: center;
    font: normal 20px "neuzeit_groteskregular";
  }
}

// Single products

#product {

  #product-images {
    @include gridle(6);
  }

  #product-details {
    overflow: hidden;
    @include gridle(6);

    .product-description {
      p {
        a {
          text-decoration: underline;
        }
      }
    }
  }

}

// footer
@import "core/_footer";