// Reset
@import "compass/reset";

// Compass mixins
@import "ceaser-easing";

// grid framework
@import "grid";

// fonts
@import "_fonts";

// Variables
$divider: #e1e1df;

// mixins

@mixin border-radius ($border-radius) {
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}

body {
  width: 100%;
  background: #fff;
  font-family: 'source_code_proregular';
  color: #272727;
}

  // Page Layout

#page {
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
#body {
  margin: 40px 0;
}

.content {
  @include gridle_centered ( );
  max-width: 1160px;
}

#page-header {
  
  h1 {

  }
}

#page-body {
  overflow: hidden;

  .content {

  }
  #page_content {
    @include gridle(12);
  }
}

header {
  overflow: hidden;

  .content {
    overflow: hidden;
  }
  .header {
    @include gridle(12);  
  }
  #header-top {
    overflow: hidden;
    padding: 30px 0 30px;
    border-bottom: 1px solid #e3e3e3;

    a {
      text-decoration: none;
    }

    #logo {
      float: left;
      font: normal 36px 'neuzeit_groteskregular';
      line-height: 41px;
      color: #272727;

      a {
        color: inherit;
      }
    }

    #status {
      overflow: hidden;
      float: right;
      #login {
        display: inline-block;
        float: left;
        margin: 15px 0 0;
        color: inherit;
        font-size: 14px;
      }

      #cart {
        overflow: hidden;
        display: inline-block;
        float: left;
        padding: 9px 18px 8px 20px;
        border: 1px solid #e1e1df;
        box-sizing: border-box;
        @include border-radius (3px);

        .cart-link {
          text-transform: uppercase;
          font: normal 14px 'oswaldbook';
          letter-spacing: 2px;
          color: #272727;

          .icon-cart {
            color: #8f8f8f;
            font-family: "SSStandard";
            font-size: 12px;
          }
          #cart-count {

          }
        }
      }
    }
  }

  #header-bottom {
    overflow: hidden;
    padding: 20px 0;

    #nav {
      float: left;
      // @include gridle(8);
      // @include gridle-no-gutter;
      list-style: none;
      
      li {
        display: inline-block;
        margin: 0 40px 0 0;

        &:last-child {
          margin: 0;
        }

        a {
          color: #272727;
          font: normal 14px 'oswaldbook';
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2px;
          &:active {
            color: #929292;
          }
        }
      }
    }
    #ship-rates {
      overflow: hidden;
      float: right;

      img {
        display: inline-block;
        float: left;
      }
      p {
        display: inline-block;
        margin: 4px 0 0 10px;
        font-size: 14px;
        
        span {
          font-weight: 700;
        }
      }
    }
  }
} // header

  #hero {
    @include gridle(12);
    overflow: hidden;
    margin: 0 0 40px;
    
    #carousel {
      background-color: #2d2d2d;

      #carousel-text {
        // padding: 100px 0 0 40px;
        h1 {
          font: normal 60px 'oswaldbook';
          color: #fff;
          text-transform: uppercase;
        }
        p {
          font: 300 24px/32px 'oswaldbook';
          color: #7f7f7f;
        }  
      }
      
    }
  }




  .product-grid {
    @include gridle(12);
    @include gridle_parent();
    overflow: hidden;
  }
  .product {
    @include gridle(3);
    display: block;
    margin: 0 0 46px;
    height: 300px;
    letter-spacing: 1px;

    img {
      width: 100%;
      height: 100%;
    }
    p {
      &.product-tag {
        margin: 12px 0 3px;
        font: normal 14px 'oswaldbook';
        text-transform: uppercase;
      }
      &.list-price {
        font: 300 14px/24px 'source_code_proregular';
      }
    }
  }

// footer
@import "core/_footer";