{% comment %}Homepage Carousel {% endcomment %}

<div id="page-header">
  <div class="content">
    {% comment %}{% include 'hero-carousel' %}{% endcomment %}

    {% include 'hero-carousel' %}

  </div>
</div>

<div id="page-body">  
  <div class="content">
    <div id="page-content" class="rte">
      {{ page.content }}
    </div>
  </div>
</div>