{% comment %}Homepage Carousel {% endcomment %}

<div id="page-header">
  <div class="content">
    {% comment %}{% include 'hero-carousel' %}{% endcomment %}

    {% include 'hero-carousel' %}

  </div>
</div>

{% comment %}
  Featured Products
{% endcomment %}
{% assign chosenCollection = collections.['featured-products'] %}
{% assign listingTitle = 'Featured Products'%}
{% include 'featured-products' %}